*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
body {
  height: 100vh;
  background: linear-gradient(-45deg, #a8e6ff, #ccefff, #e6f7ff, #b3e0ff);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  overflow: hidden;
}
  
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  /* Full screen setup */
  body {
    height: 100vh;
    overflow: hidden;
  }
  
  
  
  /* Dark overlay */
  .overlay {
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    color: white;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    padding: 20px;
  }
  
  /* Fade-in animation */
  h1, h2 {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
  }
  
  #line1 { animation-delay: 1s; }
  #line2 { animation-delay: 3s; }
  #line3 { animation-delay: 5s; }
  #question { animation-delay: 7s; }
  
  /* Question block */
  #question {
    margin-top: 15px;
    opacity: 0;
    transition: opacity 1.5s ease;
  }
  
  
  @keyframes fadeIn {
    to { opacity: 1; }
  }
  
  /* Buttons */
  .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  width: 100%;
}

  
  button {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  
  #yesBtn {
    background: #2a5298;
    color: white;
  }
  
  #noBtn {
    background: white;
    color: black;
  }
.photo-area {
  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 1.5s ease;

 /* transform: translateX(-60px);*/
    
}



/*.photo-area p {
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0.9;
}*/




.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.heart {
  position: absolute;
  bottom: -20px;
  font-size: 20px;
  animation: floatUp 6s linear infinite;
  opacity: 0.8;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.5);
    opacity: 0;
  }
}

.photos {
  position: relative;
  width: 180px;
  height: 240px;

  margin-left: auto;
  margin-right: auto;
}


.photos img {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 1.5s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}


.photos img.active {
  opacity: 1;
}

@media (max-width: 480px) {
  .photo-area {
    justify-content: center;
  }

  .photos {
    margin-left: auto;
    margin-right: auto;
  }
}


















